/*
[0]GENERAL
[1]NAVIGATION
[2]CAROUSEL
[3]FOOTER
[4]PORTOFOLIO
[5]BLOG
[6]CONTACT
[7]MEDIA QUERIES
*/

/*[0]GENERAL*/
body{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
h1{
	font-weight: bold;
	font-family: 'Paytone One', sans-serif;
	font-size: 38px;
}
h3{
	font-family: 'Paytone One', sans-serif;
}
a{
	font-size: 16px;
}
.btn-success{
	background-color: #AED7B7;
}
.btn-info{
	background-color: #A6D2DB;
}

/*[1]NAVIGATION*/
.nav-container{
	background-color: #A6D2DB;
}

/*[2]CAROUSEL*/
#carouselExampleSlidesOnly{
	height: 300px;
	background-color: #A6D2DB;
}
img{
	max-width: 250px;
}

/*[3]FOOTER*/

/*[4]PORTOFOLIO */
.body-green{
	background-color: #98D3A5;
}
.btns button{
	border-color: #98D3A5;
	background-color: #98D3A5;
}
/*[5]BLOG*/
.body-blue{
	background-color:#A6D2DB; 
}

/*[6]CONTACT*/
.body-pink{
	background-color: #DEB5C5;
}
/*[7]MEDIA QUERIES*/
